---
import CssIcon from '../Icons/CssIcon.astro'
import GithubIcon from '../Icons/GithubIcon.astro'
import JavascriptIcon from '../Icons/JavascriptIcon.astro'
import ReactIcon from '../Icons/ReactIcon.astro'
import ReactRouterIcon from '../Icons/ReactRouterIcon.astro'


interface Props {
  title: string,
  img: string,
  link: string,
  description: string,
  repository: string,
  difference: boolean
}

const { title, img, link, description, repository, difference } = Astro.props

---

<section class="w-full h-[520px] relative rounded-lg transition-all duration-500 ease-out
secondq:h-[420px] thirdq:h-[360px] fourthq:h-[280px]
mobile:h-[240px]">
  <header class="w-full h-[full] rounded-lg z-[-1] relative">
    <img loading="lazy" class="w-full h-full rounded-lg -z-50" src={img} alt="">
  </header>

  <div class="w-full h-full z-20 flex justify-end items-end gap-[10px] opacity-0 rounded-lg
  absolute bottom-0  transition-all duration-500 ease-out hover:opacity-100 hover:shadow-crimsonshadow
  mobile:opacity-100">
    <a class="w-full h-full absolute inset-0 cursor-pointer z-10" href={link} target="blank"></a>
    <div id={difference ? 'box-tek-projects' : 'box2-tek-projects'} class="w-[110px] h-[30px] flex items-center justify-center gap-[10px] p-[2px] rounded-md mb-[120px] transition-all duration-500 ease-out
    secondq:mb-[130px] fourthq:mb-[105px]
    mobile:flex-col mobile:w-[30px] mobile:h-[100px] mobile:mb-[120px] mobile:mr-[200px]">
      <ReactIcon class="w-[24px] h-[24px]" />
      <CssIcon class="w-[22px] h-[22px]" />
      {
      (difference)
        ? (<ReactRouterIcon class="w-[27px] h-[27px]" />)
        : (<JavascriptIcon class="w-[23px] h-[23px]" />)
      }
    </div>
    <a class="pb-[115px] pr-[10px] z-50
    secondq:pb-[125px] fourthq:pb-[100px]
    mobile:pb-[147px]" href={repository} target="blank">
      <GithubIcon class="bg-black rounded-xl p-[2px] w-[50px] h-[40px] text-white" />
    </a>
  </div>

  <article id={difference ? 'article-projects' : 'article2-projects'} class="w-full h-[120px] p-[20px] pt-[13px] rounded-es-lg rounded-ee-lg absolute bottom-0 z-[-2] transition-all duration-500 ease-out
  secondq:h-[130px] fourthq:pt-[30px] fourthq:p-[14px]">
    <div>
      <h1 id={difference ? 'article-title-projects' : 'article2-title-projects'} class="text-fontblue font-bold text-[24px] mb-[7px]
      thirdq:mb-[2px] fourthq:text-[18px]
      mobile:text-[16px]">{title}</h1>
    </div>
    <div>
      <p id={difference ? 'article-description-projects' : 'article2-description-projects'} class="text-fontbluelight
      secondq:text-[14px] fourthq:text-[11px]
      mobile:text-[10px]">{description}</p>
    </div>
  </article>
</section>